exportPattern("^[[:alpha:]]+")

importFrom("graphics", "abline", "box", "hist", "plot", "points",
             "title")
importFrom("stats", "rnorm", "runif", "setNames")
importFrom("utils", "head", "tail")

S3method(plot, permtstBurSt)
S3method(print, permtstBurSt)
S3method(summary, genopt)
